{% extends 'base.html.twig' %}

{% block title %}Profiles index
{% endblock %}

{% block main %}
	<h1>Profiles index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Picture</th>
				<th>Description</th>
				<th>Date_of_birth</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for profile in profiles %}
				<tr>
					<td>{{ profile.id }}</td>
					<td>{{ profile.picture }}</td>
					<td>{{ profile.description }}</td>
					<td>{{ profile.dateOfBirth ? profile.dateOfBirth|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ profile.createdAt ? profile.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ profile.updatedAt ? profile.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_profiles_show', {'id': profile.id}) }}">show</a>
						<a href="{{ path('app_profiles_edit', {'id': profile.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_profiles_new') }}">Create new</a>
{% endblock %}
