{% extends 'base.html.twig' %}

{% block title %}Profiles
{% endblock %}

{% block main %}
	<h1>Profiles</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ profile.id }}</td>
			</tr>
			<tr>
				<th>Picture</th>
				<td><img src="{{profile.picture}}" alt=""></td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ profile.description }}</td>
			</tr>
			<tr>
				<th>Date_of_birth</th>
				<td>{{ profile.dateOfBirth ? profile.dateOfBirth|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ profile.createdAt ? profile.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ profile.updatedAt ? profile.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_profiles_index') }}">back to list</a>

	<a href="{{ path('app_profiles_edit', {'id': profile.id}) }}">edit</a>

	{{ include('profiles/_delete_form.html.twig') }}
{% endblock %}
